<ng-container>
  <mat-toolbar class="header">Header</mat-toolbar>

  <mat-sidenav-container class="container">

    <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="true" [fixedTopGap]="60"
      [fixedBottomGap]="0">
      <div class="nav">
        <div class="nav-item"
          matRipple
          *ngFor="let item of menuData">
          <mat-icon class="nav-item-icon">{{item.icon}}</mat-icon>
          <span class="nav-item-title">{{item.title}}</span>
          <mat-icon class="collapsed-arrow">keyboard_arrow_right</mat-icon>
        </div>
      </div>

    </mat-sidenav>

    <mat-sidenav-content class="content">
      <button mat-raised-button color="primary" (click)="toggleSidenav(sidenav)">Toggle</button>
    </mat-sidenav-content>

  </mat-sidenav-container>

</ng-container>