<ng-container>
  <mat-toolbar class="header">
    <img src="../../favicon.ico" alt="">
    <span style="margin-left:10px;">ViaAngular</span>
  </mat-toolbar>

  <mat-sidenav-container class="container">

    <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="true" [fixedTopGap]="60"
      [fixedBottomGap]="0">
      <div class="nav">
        <ng-container *ngFor="let item of menuData">
          <app-nav-collapse *ngIf="item.type=='collapse'" [item]="item"></app-nav-collapse>
        </ng-container>
      </div>

    </mat-sidenav>

    <mat-sidenav-content class="content">
      <button mat-raised-button color="primary" (click)="toggleSidenav(sidenav)">Toggle</button>
    </mat-sidenav-content>

  </mat-sidenav-container>

</ng-container>