@mixin icon-size($size) {
  font-size: $size;
  height: $size;
  width: $size;
  min-width: $size;
  min-height: $size;
  line-height: $size; 
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(235, 241, 246);
}
.container{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  .sidenav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgb(235, 241, 246);
  }
  .content{
    position: fixed;
    width: 100%;
    background-color: #fff;
  }
}

.nav{
  margin: 0;
  padding: 0;
  width: 100%;
  .nav-item{
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
    padding: 0 24px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    .nav-item-icon{
      @include icon-size(16px);
      color: rgb(93, 93, 93);
      margin-right: 16px;
    }
    .nav-item-title{
      color: rgb(31, 33, 33);
      flex: 1;
      font-size: 15px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      letter-spacing: 1px;
    }
    .collapsed-arrow{
      color: rgb(93, 93, 93);
      transition: transform .3s ease-in-out, opacity .25s ease-in-out .1s;
      transform: rotate(0);
    }
  }
}
